.navbar-nav{
    margin-left: 100px;
}
.bk_toptips {
    display: none;
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
}
.bk_toptips span {
    background: #444444;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0.9;
}
.bk_bottom_tips {
    display: block;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

